In [1]:
#Import Dependencies
import pandas as pd

In [2]:
#Path to CSV
original_ufo_csv = "./ufo-sightings-transformed.csv"

In [3]:
#Clean Dataset
original_ufo_df = pd.read_csv(original_ufo_csv)
original_ufo_df.head()

,Unnamed: 0,Date_time,date_documented,Year,Month,Hour,Season,Country_Code,Country,Region,Locale,latitude,longitude,UFO_shape,length_of_encounter_seconds,Encounter_Duration,Description
0,0,1949-10-10 20:30:00,4/27/2004,1949,10,20,Autumn,USA,United States,Texas,San Marcos,29.883056,-97.941111,Cylinder,2700.0,45 minutes,This event took place in early fall around 194...
1,1,1949-10-10 21:00:00,12/16/2005,1949,10,21,Autumn,USA,United States,Texas,Bexar County,29.384210,-98.581082,Light,7200.0,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...
2,2,1955-10-10 17:00:00,1/21/2008,1955,10,17,Autumn,GBR,United Kingdom,England,Chester,53.200000,-2.916667,Circle,20.0,20 seconds,Green/Orange circular disc over Chester&#44 En...
3,3,1956-10-10 21:00:00,1/17/2004,1956,10,21,Autumn,USA,United States,Texas,Edna,28.978333,-96.645833,Circle,20.0,1/2 hour,My older brother and twin sister were leaving ...
4,4,1960-10-10 20:00:00,1/22/2004,1960,10,20,Autumn,USA,United States,Hawaii,Kaneohe,21.418056,-157.803611,Light,900.0,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...

In [4]:
#Take only useful columns
ufo_df = original_ufo_df[['Date_time','Year','Month','Hour','Season','Country','Region','Locale','latitude','longitude','UFO_shape','length_of_encounter_seconds']]
ufo_df.head()

,Date_time,Year,Month,Hour,Season,Country,Region,Locale,latitude,longitude,UFO_shape,length_of_encounter_seconds
0,1949-10-10 20:30:00,1949,10,20,Autumn,United States,Texas,San Marcos,29.883056,-97.941111,Cylinder,2700.0
1,1949-10-10 21:00:00,1949,10,21,Autumn,United States,Texas,Bexar County,29.384210,-98.581082,Light,7200.0
2,1955-10-10 17:00:00,1955,10,17,Autumn,United Kingdom,England,Chester,53.200000,-2.916667,Circle,20.0
3,1956-10-10 21:00:00,1956,10,21,Autumn,United States,Texas,Edna,28.978333,-96.645833,Circle,20.0
4,1960-10-10 20:00:00,1960,10,20,Autumn,United States,Hawaii,Kaneohe,21.418056,-157.803611,Light,900.0

In [5]:
#Renameing
ufo_df.rename(columns={'length_of_encounter_seconds':'Duration_seconds'},inplace=True)
ufo_df.head()

/var/folders/_p/237_7g6d693cp533kb7769000000gn/T/ipykernel_39842/100841745.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ufo_df.rename(columns={'length_of_encounter_seconds':'Duration_seconds'},inplace=True)

,Date_time,Year,Month,Hour,Season,Country,Region,Locale,latitude,longitude,UFO_shape,Duration_seconds
0,1949-10-10 20:30:00,1949,10,20,Autumn,United States,Texas,San Marcos,29.883056,-97.941111,Cylinder,2700.0
1,1949-10-10 21:00:00,1949,10,21,Autumn,United States,Texas,Bexar County,29.384210,-98.581082,Light,7200.0
2,1955-10-10 17:00:00,1955,10,17,Autumn,United Kingdom,England,Chester,53.200000,-2.916667,Circle,20.0
3,1956-10-10 21:00:00,1956,10,21,Autumn,United States,Texas,Edna,28.978333,-96.645833,Circle,20.0
4,1960-10-10 20:00:00,1960,10,20,Autumn,United States,Hawaii,Kaneohe,21.418056,-157.803611,Light,900.0

In [6]:
#Filter only United States
us_ufo_df = ufo_df[ufo_df['Country']== 'United States']
us_ufo_df.head()

,Date_time,Year,Month,Hour,Season,Country,Region,Locale,latitude,longitude,UFO_shape,Duration_seconds
0,1949-10-10 20:30:00,1949,10,20,Autumn,United States,Texas,San Marcos,29.883056,-97.941111,Cylinder,2700.0
1,1949-10-10 21:00:00,1949,10,21,Autumn,United States,Texas,Bexar County,29.384210,-98.581082,Light,7200.0
3,1956-10-10 21:00:00,1956,10,21,Autumn,United States,Texas,Edna,28.978333,-96.645833,Circle,20.0
4,1960-10-10 20:00:00,1960,10,20,Autumn,United States,Hawaii,Kaneohe,21.418056,-157.803611,Light,900.0
5,1961-10-10 19:00:00,1961,10,19,Autumn,United States,Tennessee,Bristol,36.595000,-82.188889,Sphere,300.0

In [8]:
#Drop "nan" values for shape
us_ufo_df['UFO_shape'].unique()

array(['Cylinder', 'Light', 'Circle', 'Sphere', 'Disk', 'Fireball',
       'Unknown', 'Oval', 'Other', 'Rectangle', 'Chevron', 'Formation',
       'Triangle', 'Cigar', nan, 'Delta', 'Changing', 'Diamond', 'Flash',
       'Egg', 'Teardrop', 'Cone', 'Cross', 'Pyramid', 'Round', 'Crescent',
       'Flare', 'Hexagon', 'Dome', 'Changed'], dtype=object)

In [12]:
us_ufo_df.dropna(subset=['UFO_shape'], inplace=True)
us_ufo_df['UFO_shape'].unique()

/var/folders/_p/237_7g6d693cp533kb7769000000gn/T/ipykernel_39842/1232476841.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  us_ufo_df.dropna(subset=['UFO_shape'], inplace=True)

array(['Cylinder', 'Light', 'Circle', 'Sphere', 'Disk', 'Fireball',
       'Unknown', 'Oval', 'Other', 'Rectangle', 'Chevron', 'Formation',
       'Triangle', 'Cigar', 'Delta', 'Changing', 'Diamond', 'Flash',
       'Egg', 'Teardrop', 'Cone', 'Cross', 'Pyramid', 'Round', 'Crescent',
       'Flare', 'Hexagon', 'Dome', 'Changed'], dtype=object)

In [13]:
#Export dataframe
us_ufo_df.to_csv("./us_ufo.csv",index=False)